/*--------------------------------------------------------------
## Gutenberg Styles
--------------------------------------------------------------*/

#page {
	overflow-x: hidden;
}

*[class^="wp-block-"] {
	margin-bottom: 1.5em;
}

*[class^="wp-block-"].alignleft,
*[class^="wp-block-"].alignright {
	max-width: 50%;
}

.alignfull,
.alignwide,
.aligncenter {
	clear: both;
}

@media (min-width: 750px) {
	.alignfull {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		max-width: 1000%;
	}

	/* Let's reduce this a bit for blocks with text */
	.wp-block-text-columns.alignfull,
	.wp-block-table.alignfull,
	.wp-block-preformatted.alignfull,
	.wp-block-button.alignfull,
	.wp-block-pullquote.alignfull,
	.wp-block-latest-posts.alignfull,
	.wp-block-categories.alignfull {
		margin-left: calc(50% - 48vw);
		margin-right: calc(50% - 48vw);
	}
}

@media (min-width: 1100px) {
	.alignwide {
		margin-left: -175px;
		max-width: 2000%;
		width: 1100px;
	}
}

.alignfull > *,
.alignwide > * {
	margin-left: auto;
	margin-right: auto;
}

.alignfull img,
.alignwide img,
.alignfull iframe,
.alignwide iframe,
.alignfull video,
.alignwide video {
	display: block;
}

.alignfull .jetpack-video-wrapper iframe,
.alignwide .jetpack-video-wrapper iframe {
	margin-left: auto !important; /* to override inline styles */
	margin-right: auto !important;
}

/* Dropcaps */
.has-drop-cap {}

/* Images */
.wp-block-image {
	display: inline-block; /* helps with smaller, unaligned images */
}
.wp-block-image.alignwide {}
.wp-block-image.alignfull {}

/* Galleries */
.wp-block-gallery {}
.wp-block-gallery.alignleft {}
.wp-block-gallery.aligncenter {}
.wp-block-gallery.alignright {}
.wp-block-gallery.alignwide {}
.wp-block-gallery.alignfull {}
.wp-block-gallery.columns-1 {}
.wp-block-gallery.columns-2 {}
.wp-block-gallery.columns-3 {}
.wp-block-gallery.columns-4 {}
.wp-block-gallery.columns-5 {}

/* Blockquotes*/
.wp-block-quote {}
.wp-block-quote.blocks-quote-style-1 {}
.wp-block-quote.blocks-quote-style-2 {}

/* Cover Images */
@media (min-width: 750px) {
	.wp-block-cover-image {
		left: 375px;
		margin-left: -50vw;
		position: relative;
		width: 100vw;
	}
}
.wp-block-cover-image.has-background-dim {}
.wp-block-cover-image.has-parallax {}

/* Video */
.wp-block-video {}

.wp-block-video video,
.wp-block-video iframe {
	max-width: 100%;
}

/* Audio */
.wp-block-audio {}

/* Embed */
.wp-block-embed {}

/* Pullquotes */
.wp-block-pullquote {}

/* Tables */
.wp-block-table {
	display: table;
}

/* Preformatted */
.wp-block-preformatted {}

/* Code */
.wp-block-code {}

/* Verse */
.wp-block-verse {}

/* Separator */
.wp-block-separator {
	border-bottom: 2px dashed rgba(0,0,0,.15);
}

/* Buttons */
.wp-block-button {}

/* Text Columns */
.wp-block-text-columns {}
.wp-block-column {}
.columns-1 {}
.columns-2 {}
.columns-3 {}
.columns-4 {}

/* Latest Posts */
.wp-block-latest-posts {}
.wp-block-latest-posts__post-date {}
.is-grid {}
.columns-3 {}

/* Categories */
.wp-block-categories {}
.wp-block-categories-list {}
.wp-block-categories-dropdown {}
