/*--------------------------------------------------------------
## Gutenberg Styles
--------------------------------------------------------------*/

#page {
	overflow-x: hidden;
}

*[class^="wp-block-"] {
	margin-bottom: 1.5em;
}

@media screen and (min-width: 37.5em) {
	*[class^="wp-block-"].alignleft,
	*[class^="wp-block-"].alignright {
		max-width: 75%;
	}
}

.alignfull,
.alignwide,
.aligncenter {
	clear: both;
}

.alignfull {
	margin-left: -4%;
	margin-right: -4%;
	max-width: 110%;
}

.wp-block-text-columns.alignfull,
.wp-block-preformatted.alignfull,
.wp-block-button.alignfull,
.wp-block-pullquote.alignfull,
.wp-block-latest-posts.alignfull,
.wp-block-categories.alignfull,
p.alignfull {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 750px) {
	.alignfull {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		width: auto;
		max-width: 1000%;
	}

	/* Let's reduce this a bit for blocks with text */
	.wp-block-text-columns.alignfull,
	.wp-block-table.alignfull,
	.wp-block-preformatted.alignfull,
	.wp-block-button.alignfull,
	.wp-block-pullquote.alignfull,
	.wp-block-latest-posts.alignfull,
	.wp-block-categories.alignfull,
	p.alignfull {
		margin-left: calc(50% - 48vw);
		margin-right: calc(50% - 48vw);
	}
}

@media (min-width: 1100px) {
	.alignwide {
		margin-left: -175px;
		max-width: 2000%;
		width: 1100px;
	}
}

.alignfull > *,
.alignwide > * {
	margin-left: auto;
	margin-right: auto;
}

.alignfull img,
.alignwide img,
.alignfull iframe,
.alignwide iframe,
.alignfull video,
.alignwide video {
	display: block;
}

.alignfull .jetpack-video-wrapper iframe,
.alignwide .jetpack-video-wrapper iframe {
	margin-left: auto !important; /* to override inline styles */
	margin-right: auto !important;
}

/* Dropcaps */
.has-drop-cap {}

/* Images */
.wp-block-image {
	display: inline-block; /* helps with smaller, unaligned images */
}
.wp-block-image.alignwide {}
.wp-block-image.alignfull {}

.wp-block-image figcaption {
	color: inherit;
	opacity: 0.8;
}

/* Galleries */
.wp-block-gallery {}
.wp-block-gallery.alignleft {}
.wp-block-gallery.aligncenter {}
.wp-block-gallery.alignright {}
.wp-block-gallery.alignwide {}
.wp-block-gallery.alignfull {}
.wp-block-gallery.columns-1 {}
.wp-block-gallery.columns-2 {}
.wp-block-gallery.columns-3 {}
.wp-block-gallery.columns-4 {}
.wp-block-gallery.columns-5 {}

/* Blockquotes*/
.wp-block-quote {}
.wp-block-quote.blocks-quote-style-1 {}
.wp-block-quote.blocks-quote-style-2 {}
.wp-block-quote cite {
	color: inherit;
	opacity: 0.8;
}

/* Cover Images */
@media (min-width: 750px) {
	.wp-block-cover-image {
		left: 50%;
		margin-left: -50vw;
		position: relative;
		width: 100vw;
	}
}
.wp-block-cover-image.has-background-dim {}
.wp-block-cover-image.has-parallax {}

/* Video */
.wp-block-video {}

.wp-block-video video,
.wp-block-video iframe {
	max-width: 100%;
}

/* Audio */
.wp-block-audio {}

/* Embed */
.wp-block-embed {}

/* Pullquotes */
.wp-block-pullquote {
	border: 2px dashed rgba(0,0,0,0.25);
	background: rgba(0,0,0,0.15);
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.15);
	color: inherit;
	padding: 1.5em 0.75em;
}

.wp-block-pullquote>p {
	font-family: "Lato", Helvetica, sans-serif;
}

.wp-block-pullquote cite {
	color: inherit;
	opacity: 0.8;
}

/* Tables */
.wp-block-table {
	display: table;
}

.wp-block-table.alignfull {
	width: 96vw;
}

/* Preformatted */
.wp-block-preformatted {}

/* Code */
.wp-block-code {}

/* Verse */
.wp-block-verse {
	font-family: inherit;
	font-size: inherit;
}

/* Separator */
.wp-block-separator {
	border-bottom: 2px dashed rgba(0,0,0,.15);
}

/* Buttons */
.wp-block-button {}

/* Text Columns */
@media only screen and ( max-width: 32em ) {
	.wp-block-text-columns,
	.wp-block-text-columns.aligncenter {
		display: block;
	}

	.wp-block-text-columns.columns-2 .wp-block-column,
	.wp-block-text-columns.columns-3 .wp-block-column,
	.wp-block-text-columns.columns-4 .wp-block-column {
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

/* Latest Posts */
.wp-block-latest-posts {}
.wp-block-latest-posts__post-date {
	color: inherit;
	opacity: 0.8;
}
.is-grid {}
.columns-3 {}

/* Categories */
.wp-block-categories {}
.wp-block-categories-list {}
.wp-block-categories-dropdown {}
