/*!
Editor Styles for Ohana
--------------------------------------------------------------*/

/* Widths */

@media screen and ( min-width: 770px ) {
	.editor-visual-editor .editor-post-title,
	.editor-visual-editor .editor-block-list__block {
		max-width: 820px; /* 730px - 90px */
	}
}

@media screen and (min-width: 37.5em) {
	*[class^="wp-block-"].alignleft,
	*[class^="wp-block-"].alignright {
		max-width: 75%;
	}
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.editor-visual-editor,
.editor-visual-editor p,
.editor-visual-editor button,
.editor-visual-editor input,
.editor-visual-editor select,
.editor-visual-editor optgroup,
.editor-visual-editor textarea {
	color: #444444;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.5;
}

h1.mce-content-body,
h2.mce-content-body,
h3.mce-content-body,
h4.mce-content-body,
h5.mce-content-body,
h6.mce-content-body,
.mce-content-body h1,
.editor-visual-editor textarea.editor-post-title__input,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5,
.mce-content-body h6 {
	clear: both;
	font-family: "Alegreya", Georgia, "Times New Roman", serif;
}

.mce-content-body h1 {
	font-size: 42px;
	font-size: 2.625rem;
}

.editor-visual-editor textarea.editor-post-title__input {
	font-size: 32px;
	font-size: 2rem;
}

.mce-content-body h2 {
	font-size: 36px;
	font-size: 2.25rem;
}

.mce-content-body h3 {
	font-size: 30px;
	font-size: 1.875rem;
}

.mce-content-body h4 {
	font-size: 24px;
	font-size: 1.5rem;
}

.mce-content-body h5 {
	font-size: 20px;
	font-size: 1.25rem;
}

.mce-content-body h6 {
	font-size: 18px;
	font-size: 1.125rem;
}

.mce-content-body p {
	margin-bottom: 1.5em;
}

.mce-content-body dfn,
.mce-content-body cite,
.mce-content-body em,
.mce-content-body i {
	font-style: italic;
}

.mce-content-body blockquote {
	margin: 0 1.5em;
}

.mce-content-body address {
	margin: 0 0 1.5em;
}

.mce-content-body pre {
	background: rgba(0,0,0,0.15);
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

.mce-content-body code,
.mce-content-body kbd,
.mce-content-body tt,
.mce-content-body var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

.mce-content-body abbr,
.mce-content-body acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

.mce-content-body mark,
.mce-content-body ins {
	background: #fff9c0;
	text-decoration: none;
}

.mce-content-body big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.editor-visual-editor {
	box-sizing: border-box;
}

.editor-visual-editor *,
.editor-visual-editor *:before,
.editor-visual-editor *:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

.editor-visual-editor {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

.mce-content-body hr {
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.mce-content-body ul,
.mce-content-body ol {
	margin: 0 0 1.5em 3em;
	padding: 0;
}

.mce-content-body ul {
	list-style: disc;
}

.mce-content-body ol {
	list-style: decimal;
}

.mce-content-body li > ul,
.mce-content-body li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

.mce-content-body dt {
	font-weight: bold;
}

.editor-visual-editor dd {
	margin: 0 1.5em 1.5em;
}

.editor-visual-editor img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

.editor-visual-editor figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

.editor-visual-editor blockquote {
	border-left: 6px solid rgba(0,0,0,0.2);
	font-size: 1.2em;
	font-style: italic;
	padding-left: 1em;
}

.editor-visual-editor blockquote p:last-of-type {
	margin-bottom: 0;
}

.editor-visual-editor table,
.editor-visual-editor th,
.editor-visual-editor td {
	border: 1px solid rgba(0,0,0,.15);
}

.editor-visual-editor table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

.editor-visual-editor caption,
.editor-visual-editor th,
.editor-visual-editor td {
	font-weight: normal;
	text-align: left;
}

.editor-visual-editor th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

.editor-visual-editor td {
	border-width: 0 1px 1px 0;
}

.editor-visual-editor th,
.editor-visual-editor td {
	padding: 0.4375em;
}

.mce-content-body table tbody > tr:nth-child(odd) > th,
.mce-content-body table tbody > tr:nth-child(odd) > td {
	background: rgba(0,0,0,.15);
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.mce-content-body button,
.mce-content-body input[type="button"],
.mce-content-body input[type="reset"],
.mce-content-body input[type="submit"] {
	border: 0;
	border-radius: 3px;
	background-color: #FC814A;
	color: #fff;
	font-weight: bold;
	line-height: 1;
	padding: .6em 1em;
}

.mce-content-body button:hover,
.mce-content-body input[type="button"]:hover,
.mce-content-body input[type="reset"]:hover,
.mce-content-body input[type="submit"]:hover {
	background-color: #c1582a;
}

.mce-content-body button:active,
.mce-content-body button:focus,
.mce-content-body input[type="button"]:active,
.mce-content-body input[type="button"]:focus,
.mce-content-body input[type="reset"]:active,
.mce-content-body input[type="reset"]:focus,
.mce-content-body input[type="submit"]:active,
.mce-content-body input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

.mce-content-body input[type="text"],
.mce-content-body input[type="email"],
.mce-content-body input[type="url"],
.mce-content-body input[type="password"],
.mce-content-body input[type="search"],
.mce-content-body input[type="number"],
.mce-content-body input[type="tel"],
.mce-content-body input[type="range"],
.mce-content-body input[type="date"],
.mce-content-body input[type="month"],
.mce-content-body input[type="week"],
.mce-content-body input[type="time"],
.mce-content-body input[type="datetime"],
.mce-content-body input[type="datetime-local"],
.mce-content-body input[type="color"],
.mce-content-body textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

.mce-content-body input[type="text"]:focus,
.mce-content-body input[type="email"]:focus,
.mce-content-body input[type="url"]:focus,
.mce-content-body input[type="password"]:focus,
.mce-content-body input[type="search"]:focus,
.mce-content-body input[type="number"]:focus,
.mce-content-body input[type="tel"]:focus,
.mce-content-body input[type="range"]:focus,
.mce-content-body input[type="date"]:focus,
.mce-content-body input[type="month"]:focus,
.mce-content-body input[type="week"]:focus,
.mce-content-body input[type="time"]:focus,
.mce-content-body input[type="datetime"]:focus,
.mce-content-body input[type="datetime-local"]:focus,
.mce-content-body input[type="color"]:focus,
.mce-content-body textarea:focus {
	color: #111;
}

.mce-content-body select {
	border: 1px solid #ccc;
}

.mce-content-body textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
.mce-content-body a {
	border-bottom: 2px dotted transparent;
	color: #222222;
	text-decoration: none;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.mce-content-body a:hover,
.mce-content-body a:focus,
.mce-content-body a:active {
	border-bottom-color: currentColor;
	color: #5d576b;
	opacity: 0.8;
	text-decoration: none;
}

.mce-content-body a:focus {
	outline: thin dotted;
}

.mce-content-body a:hover,
.mce-content-body a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.mce-content-body .alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.mce-content-body .alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.mce-content-body .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Make sure embeds and iframes fit their containers. */
.mce-content-body embed,
.mce-content-body iframe,
.mce-content-body object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.mce-content-body .wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.mce-content-body .wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mce-content-body .wp-caption .wp-caption-text {
	font-size: 0.8em;
	margin: 0.8075em 0;
}

.mce-content-body .wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.mce-content-body .gallery {
	margin-bottom: 1.5em;
}

.mce-content-body .gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.mce-content-body .gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.mce-content-body .gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.mce-content-body .gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.mce-content-body .gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.mce-content-body .gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.mce-content-body .gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.mce-content-body .gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.mce-content-body .gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.mce-content-body .gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Gutenberg Styles
--------------------------------------------------------------*/

.mce-content-body *[class^="wp-block-"] {
	margin-bottom: 1.5em;
}

.mce-content-body *[class^="wp-block-"].alignleft,
.mce-content-body *[class^="wp-block-"].alignright {
	max-width: 50%;
}

.mce-content-body .alignfull,
.mce-content-body .alignwide,
.mce-content-body .aligncenter {
	clear: both;
}

/* Images */
.wp-block-image {
	display: inline-block; /* helps with smaller, unaligned images */
}
/* Blockquotes*/
.editor-visual-editor .wp-block-quote {
	border: 0;
	box-shadow: none;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: inherit;
	padding: 0;
}

.wp-block-quote cite {
	color: #999;
	font-size: 0.8em;
}

/* Pullquotes */
.wp-block-pullquote {
	border: 2px dashed rgba(0,0,0,0.25);
	background: rgba(0,0,0,0.15);
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.15);
	color: inherit;
	padding: 1.5em 0.75em;
}

.wp-block-pullquote > p {
	font-family: "Lato", Helvetica, sans-serif;
}

.wp-block-pullquote cite {
	color: inherit;
	opacity: 0.8;
}

/* Tables */
.wp-block-table {
	display: table;
}

/* Verse */
.wp-block-verse {
	background-color: transparent;
	font-family: "Alegreya", Georgia, "Times New Roman", serif;
	font-size: 1.1em;
	font-style: italic;
	padding: 0;
}

/* Separator */
.wp-block-separator {
	border-bottom: 2px dashed rgba(0,0,0,.15);
}

/* Latest Posts */
.wp-block-latest-posts__post-date {
	color: inherit;
	opacity: 0.8;
}
